<header>
  <nav>
    <ul class="nav nav-pills">
      <li [routerLinkActive]="'active'" *ngIf="!isLogado()">
        <a class="nav-item" [routerLink]="['login']">Login</a>
      </li>
      <li [routerLinkActive]="'active'" *ngIf="!isLogado()">
        <a class="nav-item" [routerLink]="['nova-conta']">Nova Conta</a>
      </li>
      <li [routerLinkActive]="'active'" *ngIf="isLogado()">
        <a class="nav-item" [routerLink]="['note']">Notes</a>
      </li>
      <li style="cursor: pointer;" *ngIf="isLogado()">
        <a class="nav-item" (click)="logout()">Sair</a>
      </li>
    </ul>
  </nav>
</header>
